<!--  <header>は、app/views/application.html.erbにまとめて移動している-->

<div class="main top-main">
  <div class="top-message">
    <h2>つぶやきで、世界はつながる</h2>
    <p>今の気持ちをつぶやいてみよう！</p>
  </div>
</div>

<h1>Take_TweetApps</h1>
<p>ららららら</p>
<!--<p>Find me in app/views/home/top.html.erb</p>-->
